<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MathQuiz"
        tools:targetApi="31">
        <activity
            android:name=".BadgesActivity"
            android:exported="false" />
        <activity
            android:name=".LearnDivisionActivity"
            android:exported="false" />
        <activity
            android:name=".LearnMultiplicationActivity"
            android:exported="false" />
        <activity
            android:name=".LearnSubtractActivity"
            android:exported="false" />
        <activity
            android:name=".LearnAdditionActivity"
            android:exported="false" />
        <activity
            android:name=".LearnCountingActivity"
            android:exported="false" />
        <activity
            android:name=".LearnCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".DivisionActivity"
            android:exported="false" />
        <activity
            android:name=".MultiplicationActivity"
            android:exported="false" />
        <activity
            android:name=".SubtractActivity"
            android:exported="false" />
        <activity
            android:name=".AdditionActivity"
            android:exported="false" />
        <activity
            android:name=".CountingToWordActivity"
            android:exported="false" />
        <activity
            android:name=".CategoryActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>